<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<% unless @cuisines.empty? %>
	<table>
		<thead>
			<td> Name </td>
			<td> Rating </td>
		</thead>
		<tbody>
			<% @cuisines.each do |cuisine| %>
			<tr>
				<td> <%= cuisine.name %> </td>
				<td> <%= cuisine.rating %> </td>
				<td> <%= link_to "Hard Delete", restaurant_cuisine_path(@restaurant.id, cuisine.id), method: 'delete', data: { confirm: 'Are you sure?' } %> </td>				
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
